Source: ros-kinetic-gcloud-speech
Section: misc
Priority: extra
Maintainer: Shengye Wang <shengye@ucsd.edu>
Build-Depends: debhelper (>= 9.0.0), libgflags-dev, libgoogle-glog-dev, ros-kinetic-actionlib, ros-kinetic-actionlib-msgs, ros-kinetic-catkin, ros-kinetic-gcloud-speech-msgs, ros-kinetic-grpc
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-gcloud-speech
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgflags-dev, libgoogle-glog-dev, ros-kinetic-actionlib, ros-kinetic-actionlib-msgs, ros-kinetic-gcloud-speech-msgs, ros-kinetic-grpc
Description: Google Cloud Speech client.
